In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import tree
from sklearn.tree import DecisionTreeClassifier

In [2]:
df = pd.read_csv('credit.csv')
df[df['months_loan_duration']<5]
df[df['default']=='yes']
# df['default'].where(df['default']=='yes').dropna()

,checking_balance,months_loan_duration,credit_history,purpose,amount,savings_balance,employment_duration,percent_of_income,years_at_residence,age,other_credit,housing,existing_loans_count,job,dependents,phone,default
1,1 - 200 DM,48,good,furniture/appliances,5951,< 100 DM,1 - 4 years,2,2,22,none,own,1,skilled,1,no,yes
4,< 0 DM,24,poor,car,4870,< 100 DM,1 - 4 years,3,4,53,none,other,2,skilled,2,no,yes
9,1 - 200 DM,30,critical,car,5234,< 100 DM,unemployed,4,2,28,none,own,2,management,1,no,yes
10,1 - 200 DM,12,good,car,1295,< 100 DM,< 1 year,3,1,25,none,rent,1,skilled,1,no,yes
11,< 0 DM,48,good,business,4308,< 100 DM,< 1 year,3,4,24,none,rent,1,skilled,1,no,yes
13,< 0 DM,24,critical,car,1199,< 100 DM,> 7 years,4,4,60,none,own,2,unskilled,1,no,yes
15,< 0 DM,24,good,furniture/appliances,1282,100 - 500 DM,1 - 4 years,4,2,32,none,own,1,unskilled,1,no,yes
18,1 - 200 DM,24,good,car,12579,< 100 DM,> 7 years,4,2,44,none,other,1,management,1,yes,yes
29,< 0 DM,60,poor,business,6836,< 100 DM,> 7 years,3,4,63,none,own,2,skilled,1,yes,yes
35,1 - 200 DM,45,critical,furniture/appliances,4746,< 100 DM,< 1 year,4,2,25,none,own,2,unskilled,1,no,yes
37,> 200 DM,18,good,furniture/appliances,2100,< 100 DM,1 - 4 years,4,2,37,store,own,1,skilled,1,no,yes
44,< 0 DM,48,critical,car,6143,< 100 DM,> 7 years,4,4,58,store,other,2,unskilled,1,no,yes
54,1 - 200 DM,36,poor,car,2225,< 100 DM,> 7 years,4,4,57,bank,other,2,skilled,1,yes,yes
56,1 - 200 DM,12,good,furniture/appliances,6468,unknown,unemployed,2,1,52,none,own,1,management,1,yes,yes
59,< 0 DM,36,critical,furniture/appliances,6229,< 100 DM,< 1 year,4,4,23,none,rent,2,unskilled,1,yes,yes
62,1 - 200 DM,36,perfect,business,1953,< 100 DM,> 7 years,4,4,61,none,other,1,management,1,yes,yes
63,1 - 200 DM,48,perfect,business,14421,< 100 DM,1 - 4 years,2,2,25,none,own,1,skilled,1,yes,yes
68,unknown,36,good,education,1819,< 100 DM,1 - 4 years,4,4,37,store,other,1,skilled,1,yes,yes
74,< 0 DM,36,good,education,1977,unknown,> 7 years,4,4,40,none,own,1,management,1,yes,yes
76,< 0 DM,42,good,furniture/appliances,3965,< 100 DM,< 1 year,4,3,34,none,own,1,skilled,1,no,yes
80,unknown,24,good,furniture/appliances,5943,unknown,< 1 year,1,1,44,none,own,2,skilled,1,yes,yes
87,1 - 200 DM,36,good,education,12612,100 - 500 DM,1 - 4 years,1,4,47,none,other,1,skilled,2,yes,yes
89,< 0 DM,12,perfect,renovations,1108,< 100 DM,4 - 7 years,4,3,28,none,own,2,skilled,1,no,yes
92,unknown,12,critical,furniture/appliances,797,unknown,> 7 years,4,3,33,bank,own,1,unskilled,2,no,yes
95,1 - 200 DM,54,perfect,business,15945,< 100 DM,< 1 year,3,4,58,none,rent,1,skilled,1,yes,yes
105,1 - 200 DM,24,critical,car0,11938,< 100 DM,1 - 4 years,2,3,39,none,own,2,management,2,yes,yes
106,unknown,18,very good,car,6458,< 100 DM,> 7 years,2,4,39,bank,own,2,management,2,yes,yes
113,unknown,36,critical,car,7855,< 100 DM,1 - 4 years,4,2,25,store,own,2,skilled,1,yes,yes
116,< 0 DM,42,good,furniture/appliances,7174,unknown,4 - 7 years,4,3,30,none,own,1,management,1,yes,yes
118,< 0 DM,33,critical,furniture/appliances,4281,500 - 1000 DM,1 - 4 years,1,4,23,none,own,2,skilled,1,no,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
914,< 0 DM,24,very good,business,3161,< 100 DM,1 - 4 years,4,2,31,none,rent,1,skilled,1,yes,yes
915,1 - 200 DM,48,perfect,car0,18424,< 100 DM,1 - 4 years,1,2,32,bank,own,1,management,1,yes,yes
917,< 0 DM,6,good,car,14896,< 100 DM,> 7 years,1,4,68,bank,own,1,management,1,yes,yes
918,< 0 DM,24,good,furniture/appliances,2359,100 - 500 DM,unemployed,1,1,33,none,own,1,skilled,1,no,yes
919,< 0 DM,24,good,furniture/appliances,3345,< 100 DM,> 7 years,4,2,39,none,rent,1,management,1,yes,yes
922,< 0 DM,9,good,furniture/appliances,1366,< 100 DM,< 1 year,3,4,22,none,rent,1,skilled,1,no,yes
924,< 0 DM,24,very good,furniture/appliances,6872,< 100 DM,< 1 year,2,1,55,bank,own,1,skilled,1,yes,yes
925,< 0 DM,12,very good,car,697,< 100 DM,< 1 year,4,2,46,bank,own,2,skilled,1,yes,yes
927,< 0 DM,48,good,car,10297,< 100 DM,4 - 7 years,4,4,39,store,other,3,skilled,2,yes,yes
931,1 - 200 DM,9,good,furniture/appliances,1670,< 100 DM,< 1 year,4,2,22,none,own,1,skilled,1,yes,yes
935,1 - 200 DM,30,poor,furniture/appliances,1919,100 - 500 DM,< 1 year,4,3,30,store,own,2,management,1,no,yes
936,> 200 DM,9,good,furniture/appliances,745,< 100 DM,1 - 4 years,3,2,28,none,own,1,unskilled,1,no,yes
938,1 - 200 DM,60,good,education,6288,< 100 DM,1 - 4 years,4,4,42,none,other,1,skilled,1,no,yes
946,< 0 DM,24,very good,furniture/appliances,3349,500 - 1000 DM,< 1 year,4,4,30,none,other,1,skilled,2,yes,yes
948,unknown,18,good,furniture/appliances,1533,< 100 DM,< 1 year,4,1,43,none,own,1,unskilled,2,no,yes
949,unknown,24,good,furniture/appliances,3621,100 - 500 DM,> 7 years,2,4,31,none,own,2,skilled,1,no,yes
951,< 0 DM,36,poor,business,2145,< 100 DM,4 - 7 years,2,1,24,none,own,2,skilled,1,yes,yes
952,1 - 200 DM,24,good,car,4113,500 - 1000 DM,< 1 year,3,4,28,none,rent,1,skilled,1,no,yes
953,unknown,36,good,furniture/appliances,10974,< 100 DM,unemployed,4,2,26,none,own,2,management,1,yes,yes
958,< 0 DM,28,good,car,4006,< 100 DM,1 - 4 years,3,2,45,none,own,1,unskilled,1,no,yes
963,unknown,24,good,furniture/appliances,2397,500 - 1000 DM,> 7 years,3,2,35,bank,own,2,skilled,1,yes,yes
966,1 - 200 DM,27,critical,furniture/appliances,2520,500 - 1000 DM,1 - 4 years,4,2,23,none,own,2,unskilled,1,no,yes
972,< 0 DM,24,very good,car,1193,< 100 DM,unemployed,1,4,29,none,rent,2,unemployed,1,no,yes
973,< 0 DM,60,good,business,7297,< 100 DM,> 7 years,4,4,36,none,rent,1,skilled,1,no,yes
978,unknown,24,poor,car,2538,< 100 DM,> 7 years,4,4,47,none,own,2,unskilled,2,no,yes
979,1 - 200 DM,15,very good,car,1264,100 - 500 DM,1 - 4 years,2,2,25,none,rent,1,skilled,1,no,yes
980,1 - 200 DM,30,critical,furniture/appliances,8386,< 100 DM,4 - 7 years,2,2,49,none,own,1,skilled,1,no,yes
981,unknown,48,good,business,4844,< 100 DM,unemployed,3,2,33,bank,rent,1,management,1,yes,yes
983,< 0 DM,36,good,car,8229,< 100 DM,1 - 4 years,2,2,26,none,own,1,skilled,2,no,yes
998,< 0 DM,45,good,furniture/appliances,1845,< 100 DM,1 - 4 years,4,4,23,none,other,1,skilled,1,yes,yes

In [3]:
y = df['default']
y=pd.get_dummies(y)
x=df.drop('default',1)
x=pd.get_dummies(x)
# y=y.map({'yes':1,'no':0})
x

,months_loan_duration,amount,percent_of_income,years_at_residence,age,existing_loans_count,dependents,checking_balance_1 - 200 DM,checking_balance_< 0 DM,checking_balance_> 200 DM,...,other_credit_store,housing_other,housing_own,housing_rent,job_management,job_skilled,job_unemployed,job_unskilled,phone_no,phone_yes
0,6,1169,4,4,67,2,1,0,1,0,...,0,0,1,0,0,1,0,0,0,1
1,48,5951,2,2,22,1,1,1,0,0,...,0,0,1,0,0,1,0,0,1,0
2,12,2096,2,3,49,1,2,0,0,0,...,0,0,1,0,0,0,0,1,1,0
3,42,7882,2,4,45,1,2,0,1,0,...,0,1,0,0,0,1,0,0,1,0
4,24,4870,3,4,53,2,2,0,1,0,...,0,1,0,0,0,1,0,0,1,0
5,36,9055,2,4,35,1,2,0,0,0,...,0,1,0,0,0,0,0,1,0,1
6,24,2835,3,4,53,1,1,0,0,0,...,0,0,1,0,0,1,0,0,1,0
7,36,6948,2,2,35,1,1,1,0,0,...,0,0,0,1,1,0,0,0,0,1
8,12,3059,2,4,61,1,1,0,0,0,...,0,0,1,0,0,0,0,1,1,0
9,30,5234,4,2,28,2,1,1,0,0,...,0,0,1,0,1,0,0,0,1,0
10,12,1295,3,1,25,1,1,1,0,0,...,0,0,0,1,0,1,0,0,1,0
11,48,4308,3,4,24,1,1,0,1,0,...,0,0,0,1,0,1,0,0,1,0
12,12,1567,1,1,22,1,1,1,0,0,...,0,0,1,0,0,1,0,0,0,1
13,24,1199,4,4,60,2,1,0,1,0,...,0,0,1,0,0,0,0,1,1,0
14,15,1403,2,4,28,1,1,0,1,0,...,0,0,0,1,0,1,0,0,1,0
15,24,1282,4,2,32,1,1,0,1,0,...,0,0,1,0,0,0,0,1,1,0
16,24,2424,4,4,53,2,1,0,0,0,...,0,0,1,0,0,1,0,0,1,0
17,30,8072,2,3,25,3,1,0,1,0,...,0,0,1,0,0,1,0,0,1,0
18,24,12579,4,2,44,1,1,1,0,0,...,0,1,0,0,1,0,0,0,0,1
19,24,3430,3,2,31,1,2,0,0,0,...,0,0,1,0,0,1,0,0,0,1
20,9,2134,4,4,48,3,1,0,0,0,...,0,0,1,0,0,1,0,0,0,1
21,6,2647,2,3,44,1,2,0,1,0,...,0,0,0,1,0,1,0,0,1,0
22,10,2241,1,3,48,2,2,0,1,0,...,0,0,0,1,0,0,0,1,1,0
23,12,1804,3,4,44,1,1,1,0,0,...,0,0,1,0,0,1,0,0,1,0
24,10,2069,2,1,26,2,1,0,0,0,...,0,0,1,0,0,1,0,0,1,0
25,6,1374,1,2,36,1,1,0,1,0,...,0,0,1,0,0,0,0,1,0,1
26,6,426,4,4,39,1,1,0,0,0,...,0,0,1,0,0,0,0,1,1,0
27,12,409,3,3,42,2,1,0,0,1,...,0,0,0,1,0,1,0,0,1,0
28,7,2415,3,2,34,1,1,1,0,0,...,0,0,1,0,0,1,0,0,1,0
29,60,6836,3,4,63,2,1,0,1,0,...,0,0,1,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
970,15,1514,4,2,22,1,1,1,0,0,...,0,0,1,0,0,1,0,0,1,0
971,24,7393,1,4,43,1,2,0,0,0,...,0,0,1,0,0,0,0,1,1,0
972,24,1193,1,4,29,2,1,0,1,0,...,0,0,0,1,0,0,1,0,1,0
973,60,7297,4,4,36,1,1,0,1,0,...,0,0,0,1,0,1,0,0,1,0
974,30,2831,4,2,33,1,1,0,0,0,...,0,0,1,0,0,1,0,0,0,1
975,24,1258,3,3,57,1,1,0,0,1,...,0,0,1,0,0,0,0,1,1,0
976,6,753,2,3,64,1,1,1,0,0,...,0,0,1,0,0,1,0,0,1,0
977,18,2427,4,2,42,2,1,1,0,0,...,0,0,1,0,0,1,0,0,1,0
978,24,2538,4,4,47,2,2,0,0,0,...,0,0,1,0,0,0,0,1,1,0
979,15,1264,2,2,25,1,1,1,0,0,...,0,0,0,1,0,1,0,0,1,0
980,30,8386,2,2,49,1,1,1,0,0,...,0,0,1,0,0,1,0,0,1,0
981,48,4844,3,2,33,1,1,0,0,0,...,0,0,0,1,1,0,0,0,0,1
982,21,2923,1,1,28,1,1,0,0,1,...,0,0,1,0,1,0,0,0,0,1
983,36,8229,2,2,26,1,2,0,1,0,...,0,0,1,0,0,1,0,0,1,0
984,24,2028,2,2,30,2,1,0,0,0,...,0,0,1,0,0,0,0,1,1,0
985,15,1433,4,3,25,2,1,0,1,0,...,0,0,0,1,0,1,0,0,1,0
986,42,6289,2,1,33,2,1,0,0,1,...,0,0,1,0,0,1,0,0,1,0
987,13,1409,2,4,64,1,1,0,0,0,...,0,0,1,0,0,1,0,0,1,0
988,24,6579,4,2,29,1,1,0,1,0,...,0,1,0,0,1,0,0,0,0,1
989,24,1743,4,2,48,2,1,1,0,0,...,0,0,1,0,0,0,0,1,1,0
990,12,3565,2,1,37,2,2,0,0,0,...,0,0,1,0,0,0,0,1,1,0
991,15,1569,4,4,34,1,2,0,0,0,...,0,0,1,0,0,0,0,1,1,0
992,18,1936,2,4,23,2,1,0,1,0,...,0,0,0,1,0,0,0,1,1,0
993,36,3959,4,3,30,1,1,0,1,0,...,0,0,1,0,1,0,0,0,0,1
994,12,2390,4,3,50,1,1,0,0,0,...,0,0,1,0,0,1,0,0,0,1
995,12,1736,3,4,31,1,1,0,0,0,...,0,0,1,0,0,0,0,1,1,0
996,30,3857,4,4,40,1,1,0,1,0,...,0,0,1,0,1,0,0,0,0,1
997,12,804,4,4,38,1,1,0,0,0,...,0,0,1,0,0,1,0,0,1,0
998,45,1845,4,4,23,1,1,0,1,0,...,0,1,0,0,0,1,0,0,0,1
999,45,4576,3,4,27,1,1,1,0,0,...,0,0,1,0,0,1,0,0,1,0

In [4]:
# splitting into training and testing data
X_train, X_test, Y_train, Y_test = train_test_split(x,y,random_state=42)
# using min_impurity_decrease (pruning) for feature engineering
classifier = DecisionTreeClassifier(min_impurity_decrease=0.005)
#training data
classifier.fit(X_train,Y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.005, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [5]:
# predicting data
pred=classifier.predict(X_test)
d = pd.DataFrame(pred)
d=d[0]
print(Y_test)
d=d.map({1.0:'no',0.0:'yes'})
d #output

     no  yes
521   0    1
737   1    0
740   1    0
660   1    0
411   1    0
678   1    0
626   1    0
513   1    0
859   1    0
136   1    0
811   1    0
76    0    1
636   1    0
973   0    1
938   0    1
899   0    1
280   1    0
883   1    0
761   0    1
319   1    0
549   1    0
174   0    1
371   1    0
527   1    0
210   1    0
235   0    1
101   1    0
986   1    0
902   1    0
947   1    0
..   ..  ...
305   1    0
734   1    0
975   1    0
49    1    0
896   1    0
2     1    0
544   1    0
350   1    0
904   1    0
536   1    0
344   1    0
994   1    0
481   1    0
575   1    0
33    1    0
31    1    0
231   1    0
963   0    1
192   0    1
333   0    1
3     1    0
204   1    0
514   1    0
799   1    0
306   1    0
109   1    0
430   1    0
77    1    0
84    1    0
286   1    0

[250 rows x 2 columns]

0       no
1       no
2       no
3       no
4       no
5      yes
6       no
7       no
8       no
9       no
10      no
11     yes
12      no
13     yes
14     yes
15      no
16      no
17      no
18      no
19      no
20      no
21      no
22      no
23      no
24      no
25     yes
26     yes
27     yes
28      no
29      no
      ...
220     no
221     no
222    yes
223     no
224     no
225     no
226     no
227     no
228     no
229     no
230     no
231     no
232    yes
233     no
234     no
235    yes
236     no
237     no
238    yes
239     no
240    yes
241     no
242     no
243     no
244     no
245     no
246     no
247     no
248     no
249    yes
Name: 0, Length: 250, dtype: object

In [6]:
# Visualizing decision tree
dotfile = open("D:/dtree2.dot", 'w')
tree.export_graphviz(classifier, out_file = dotfile, feature_names = X_test.columns)
dotfile.close()

In [7]:
from sklearn.metrics import classification_report, confusion_matrix  
print(classification_report(Y_test, pred))

             precision    recall  f1-score   support

          0       0.81      0.84      0.83       178
          1       0.57      0.51      0.54        72

avg / total       0.74      0.75      0.74       250